header h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('../pics/pattern.jpeg');
}
#brushes, #frames, #paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
#brushes {
  background-color: mediumspringgreen;
}
body p {
  font-family: Helvetica;
}

.price {
  
  font-weight: bold;
  color: blue;
}
#frames {
  background-color: lightcoral;
}
#paint {
  background-color: skyblue;
}